NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_WORKSPACE_MODE=multi
NEXT_PUBLIC_WORKSPACE_STRATEGY=path
NEXT_PUBLIC_ACCESS_TOKEN_KEY=socialchef_access_token
NEXT_PUBLIC_DEFAULT_TENANT=demo
NEXT_PUBLIC_CONTACT_EMAIL=hello@example.com
